@import 'imports/_vars';
@import 'imports/_mixins';

/* width */
::-webkit-scrollbar { width: .5rem; }
::-webkit-scrollbar-track { background-color: theme('light', 'bg'); }
::-webkit-scrollbar-thumb { background-color: theme('light', 'text'); }

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: theme('light', 'bg');
    border-bottom: 1px solid theme('light', 'border');
    z-index: -1;
  }
  &.sticky,
  &.sticky div.container { position: sticky; }
  &.right,
  &.right div.container { flex-direction: row-reverse; }
  &.right div.menu-icon,
  &.mob-icon-right div.menu-icon { right: 0; }
  &.center,
  &.center div.container {
    flex-direction: column;
    justify-content: center;
  }
  &.center div.container div.menu { justify-content: center; }
  &.v-center,
  &.v-center div.container { align-items: center; }
  &.dark {
    color: theme('dark', 'text');
    &:after {
      background-color: theme('dark', 'bg');
      border-color: theme('dark', 'border');
    }
    a { color: theme('dark', 'text'); }
    div.menu ul > li > ul > li > a { background-color: theme('dark', 'bg'); }
    div.menu-icon {
      div.inner,
      div.inner:before,
      div.inner:after {
        background-color: theme('dark', 'text');
      }
    }
  }
  a {
    text-decoration: none;
    color: theme('light', 'text');
    &:hover {
      color: color(3);
    }
  }
  div.menu-icon {
    display: none;
    position: absolute;
    left: 0;
    width: 3rem;
    height: 100%;
    padding: .7rem;
    align-items: center;
    cursor: pointer;
    div.inner,
    div.inner:before,
    div.inner:after {
      @include transition();
      @include border-radius(.05rem);
      width: 100%;
      height: .1rem;
      background-color: theme('light', 'text');
    }
    div.inner { position: relative; }
    div.inner:before,
    div.inner:after {
      content: '';
      position: absolute;
      left: 0;
    }
    div.inner:before { top: -.4rem; }
    div.inner:after { bottom: -.4rem; }
    &.active {
      div.inner { background-color: transparent; }
      div.inner:before {
        @include rotate(225deg);
        top: 0;
      }
      div.inner:after {
        @include rotate(-225deg);
        bottom: 0;
      }
    }
  }
  div.container {
    max-height: 100%;
  }
  div.logo {
    height: 3rem;
    max-height: 100%;
    padding: .25rem 1rem;
    font-family: $titlefont;
    font-size: 1.5rem;
    &.medium { height: 5rem; }
    &.large { height: 7rem; }
    img, svg {
      height: 100%;
    }
  }
  div.menu {
    @include transition();
    display: flex;
    position: relative;
    z-index: 1;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: row;
      list-style-type: none;
      > li {
        position: relative;
        margin: 0;
        padding: 0;
        &:hover {
          > ul {
            display: flex;
          }
        }
        > a {
          display: block;
          padding: .75rem 1rem;
        }
        > ul {
          position: absolute;
          display: none;
          flex-direction: column;
          align-items: stretch;
          > li {
            width: 100%;
            a {
              background-color: theme('light', 'bg');
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  @each $size, $screenwidth in $sizes {
    @media screen and (max-width: $screenwidth) {
      &.mob-#{$size} {
        height: 3rem;
        flex-direction: column;
        div.container,
        div.menu ul {
          flex-direction: column;
          li ul {
            position: relative;
            display: flex;
            li a {
              padding: .3rem 1rem;
              background-color: transparent;
              color: lighten(theme('light', 'text'), 20%);
              font-size: .8rem;
            }
          }
        }
        div.menu-icon {
          display: flex;
        }
        div.logo {
          align-self: center;
        }
        &.right div.menu {
          left: auto;
          right: 0;
          &.mob-side {
            @include translateX(100%);
          }
        }
        div.menu {
          position: absolute;
          top: 3rem;
          left: 0;
          max-height: calc(100vh - 3rem);
          background-color: theme('light', 'bg');
          overflow: auto;
          z-index: -1;
          &.mob-full {
            width: 100%;
            height: calc(100vh - 3rem);
          }
          &.mob-side {
            @include translateX(-100%);
            &.active {
              @include translateX(0);
            }
          }
          &.mob-top {
            @include translateY(calc(-100% - 3rem));
            &.active {
              @include translateY(0);
            }
          }
        }

        &.dark div.menu { background-color: theme('dark', 'bg'); }
        &.dark div.menu ul li ul li a { color: darken(theme('dark', 'text'), 20%); }
      }
    }
  }
}

.masthead,
.carousel,
.carousel-item {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 5rem 2rem 2rem 2rem;
  background-color: #111;
  border-bottom: 1px solid #fefefe;
  align-content: center;
  align-items: center;
  justify-content: center;
  &.left { justify-content: flex-start; }
  &.right { justify-content: flex-end; }
  &.top { align-items: flex-start; }
  &.bottom { align-items: flex-end; }
  &.h75 { height: 75vh; }
  &.h50 { height: 50vh; }
  &.h25 { height: 25vh; }
  div.carousel-item {
    @include transition($dur: 2s);
    position: absolute;
    left: 100%;
    height: 100%;
    z-index: 1;
    &.active { left: 0; z-index: 2; }
    &.sliding { left: -100%; }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .content {
    position: relative;
    padding: 1rem;
    background-color: transparentize(theme('light', 'bg'), .8);
    z-index: 2;
    &.dark {
      background-color: transparentize(theme('dark', 'bg'), .8);
      color: theme('dark', 'text');
      h1, h2, h3, h4, h5, h6 {
        color: darken(theme('dark', 'text'), 50%);
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: lighten(theme('light', 'text'), 20%);
      margin: 0 0 .5rem 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

section {
  padding: 2rem 0;
  &.bg-light { background-color: theme('light', 'bg'); }
  &.bg-dark { background-color: theme('dark', 'bg'); }
}

.card {
  @include border-radius(.2rem);
  display: flex;
  width: 100%;
  height: 100%;
  background-color: theme('light', 'bg');
  color: theme('light', 'text');
  border: 1px solid theme('light', 'border');
  flex-direction: column;
  overflow: hidden;
  &.ver-center { justify-content: center; }
  &.ver-top { justify-content: flex-start; }
  &.ver-bottom { justify-content: flex-end; }
  &.hor-center { align-items: center; }
  &.hor-left { align-items: flex-start; }
  &.hor-right { align-items: flex-end; }
  &.dark {
    background-color: theme('dark', 'bg');
    color: theme('dark', 'text');
    border-color: theme('dark', 'border');
    h2, h3, h4, h5, h6 {
      color: darken(theme('dark', 'text'), 40%);
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  h2, h3, h4, h5, h6, p {
    padding: .5rem;
    margin: 0;
  }
  button {
    margin: .5rem;
  }
}

.alert {
  @include border-radius(.2rem);
  width: 100%;
  padding: .5rem;
  margin: .5rem 0;
  background-color: lighten(color(1), 25%);
  color: darken(color(1), 20%);
  border: 1px solid color(1);
  h2, h3, h4, h5, h6 {
    color: darken(color(1), 20%);
    margin: 0;
  }
  @each $name, $color in $colors {
    &.s-#{$name} {
      background-color: lighten(color($name), 25%);
      color: darken(color($name), 40%);
      border: 1px solid color($name);
      h2, h3, h4, h5, h6 {
        color: darken(color($name), 20%);
      }
    }
  }
  &.light {
    background-color: theme('light', 'bg');
    color: theme('light', 'text');
    border-color: theme('light', 'border');
    h2, h3, h4, h5, h6 {
      color: lighten(theme('light', 'text'), 20%);
    }
  }
  &.dark {
    background-color: theme('dark', 'bg');
    color: theme('dark', 'text');
    border-color: theme('dark', 'border');
    h2, h3, h4, h5, h6 {
      color: darken(theme('dark', 'text'), 20%);
    }
  }
}

.prefooter,
footer {
  width: 100%;
  padding: 2rem 0;
  color: theme('light', 'text');
  &.dark {
    color: theme('dark', 'text');
  }
  h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
  }
  ul {
    padding-left: 1.3rem;
    margin: 0;
    li {
      padding: 0;
    }
  }
  .row {
    align-items: flex-start;
  }
  .col,
  [class^="col-"],
  [class*=" col-"] {
    justify-content: flex-start;
    > * {
      width: 100%;
    }
    a {
      i.bx {
        margin: 0 .5rem;
      }
    }
  }
}

.prefooter {
  background-color: transparentize(theme('light', 'bg'), .4);
  &.dark {
    background-color: transparentize(theme('dark', 'bg'), .4);
  }
}

footer {
  background-color: theme('light', 'bg');
  &.dark {
    background-color: theme('dark', 'bg');
  }
}
