@import 'imports/_vars';
@import 'imports/_mixins';

@function color($num) {
  @return map-get($colors, $num);
}

html {
  font-size: $fs;
  $ms: nth(map-values($sizes), length($sizes));
  @each $s, $sw in $sizes {
    @media screen and (min-width: $sw) {
      font-size: round($fs - ($rs - ($sw / $ms) * $rs));
    }
  }
}

body {
  font-family: $normalfont;
  background-color: darken(theme('light', 'bg'), 10%);
  color: theme('light', 'text');
  &.dark {
    background-color: lighten(theme('dark', 'bg'), 10%);
    color: theme('dark', 'text');
  }
  article#content {
    padding: 1rem 1.5rem;
    background-color: white(.5);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titlefont;
  line-height: 91%;
}

h1 { font-size: 3rem; color: color(1); }
h2 { font-size: 2.5rem; color: color(3); }
h3 { font-size: 1.9rem; color: color(4); }
h4 { font-size: 1.4rem; color: color(5); }
h5 { font-size: 1rem; color: color(3); }
h6 { font-size: 1rem; color: color(4); }

.center {text-align: center;}

p {
  line-height: 1.7rem;
  margin: 0 0 1rem 0;
}

a {
  @include transition($prop: color, $dur: .3s, $ease: ease-in-out);
  color: color(1);
  &:hover {
    color: invert(color(1));
  }
}

ul, ol {
  padding-left: 1.5rem;
  margin: 2rem 0;
  list-style-position: outside;
  li {
    padding-left: .5rem;
    margin: .5rem 0;
    &::marker {
      margin-left: 1rem;
    }
  }
}

blockquote {
  position: relative;
  font-family: $titlefont;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  &:before,
  &:after {
    content: '"';
    position: absolute;
    color: color(4);
  }
  &:before {
    left: -1rem;
  }
  &:after {
    right: -1rem;
  }
}

button,
.btn {
  padding: .5rem 1rem;
  margin: .5rem 0;
  font-size: 1.2rem;
  border-radius: .5rem;
  box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.3);
  border: 2px solid transparent;
  &.style1 { background-color: color(1); color: #fff; }
  &.style2 { background-color: color(2); color: #fff; }
  &.style3 { background-color: color(3); color: #fff; }
}

table {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
  border-radius: .5rem;
  overflow: hidden;
  &.w-auto {
    width: auto;
  }
  tr {
    td,th {
      padding: .2rem .5rem;
      &:not(:first-of-type):not(:last-of-type) {
        border: solid #333;
        border-width: 0 1px;
      }
    }
    th {
      background-color: #333;
      color: #fff;
    }
    &:nth-of-type(odd) {
      td { background-color: color(4); }
    }
    &:nth-of-type(even) {
      td { background-color: color(5); }
    }
  }
}

form,
label {
  display: flex;
  width: 100%;
  margin: .5rem 0;
  font-size: .8rem;
  flex-direction: column;
  align-items: stretch;
  input,
  textarea {
    @include border-radius(.2rem);
    padding: .5rem 1rem;
    margin-top: .3rem;
    font-size: 1.1rem;
    border: 1px solid theme('light', 'border');
  }
  textarea {
    resize: vertical;
    overflow: auto;
    &.h-single { height: 2.4rem * 1; }
    &.h-double { height: 2.4rem * 2; }
    &.h-tripple { height: 2.4rem * 3; }
    &.h-quadrupple { height: 2.4rem * 4; }
  }
  input[type="submit"] {
    width: auto;
    align-self: flex-end;
  }
  .radio-group,
  .checkbox-group {
    display: flex;
    flex-direction: column;
    label {
      flex-direction: row;
      align-items: center;
      input[type="radio"],
      input[type="checkbox"] {
        @include appearance();
        position: relative;
        border: none;
        width: 1.5rem;
        height: 1rem;
        &:before,
        &:after {
          @extend %allcenter;
          content: '';
          position: absolute;
        }
        &:before {
          width: 1rem;
          height: 1rem;
          background-color: white(5);
          border: 2px solid #333;
        }
        &:after {
          width: .8rem;
          height: .8rem;
          background-color: color(3);
          opacity: 0;
        }
        &:checked {
          &:after {
            opacity: 1;
          }
        }
      }
      input[type="radio"] {
        margin-top: -.1rem;
        &:before,
        &:after {
          @include border-radius(50%);
        }
      }
      input[type="checkbox"] {
        margin-top: 0;
        &:before,
        &:after {
          @include border-radius(.1rem);
        }
      }
    }
  }
}
