@import 'imports/_mixins';
@import 'imports/_vars';

$spacer: .5rem;

.no-p {
  padding: 0;
}

@mixin pm_generator($type, $num, $val) {
  $abbr: '';
  @if $type == 'padding' {
    $abbr: 'p';
  } @else if $type == 'margin' {
    $abbr: 'm';
  }

  %#{$abbr}-#{$num}, .#{$abbr}-#{$num} { #{$type}: $val!important }
  %#{$abbr}t-#{$num}, .#{$abbr}t-#{$num} { #{$type}-top: $val!important }
  %#{$abbr}r-#{$num}, .#{$abbr}r-#{$num} { #{$type}-right: $val!important }
  %#{$abbr}b-#{$num}, .#{$abbr}b-#{$num} { #{$type}-bottom: $val!important }
  %#{$abbr}l-#{$num}, .#{$abbr}l-#{$num} { #{$type}-left: $val!important }
  %#{$abbr}y-#{$num}, .#{$abbr}y-#{$num} { #{$type}-top: $val!important; #{$type}-bottom: $val!important }
  %#{$abbr}x-#{$num}, .#{$abbr}x-#{$num} { #{$type}-right: $val!important; #{$type}-left: $val!important }
}

@for $i from 1 through 10 {
  $val: #{ $i * $spacer };
  @include pm_generator('padding', $i, $val);
  @include pm_generator('margin', $i, $val);
}

%txt-l, .txt-l, .left { text-align: left }
%txt-r, .txt-r, .right { text-align: right }
%txt-c, .txt-c, .center { text-align: center }
%txt-j, .txt-j, .justify { text-align: justify }
%txt-nowrap, .txt-nowrap { white-space: nowrap }

%txt-small-shadow, .txt-small-shadow { @include text-shadow($ver: .1rem, $blur: .1rem, $color: black(5)); }
%txt-shadow, .txt-shadow { @include text-shadow($ver: .2rem, $blur: .3rem, $color: black(5)); }
%txt-big-shadow, .txt-big-shadow { @include text-shadow($ver: .3rem, $blur: .7rem, $color: black(8)); }

%va-top, .va-top { vertical-align: top }
%va-middle, .va-middle { vertical-align: middle }
%va-bottom, .va-bottom { vertical-align: bottom }
%va-baseline, .va-baseline { vertical-align: baseline }
%va-sub, .va-sub { vertical-align: sub }
%va-super, .va-super { vertical-align: super }
%va-texttop, .va-texttop { vertical-align: text-top }
%va-textbottom, .va-textbottom { vertical-align: text-bottom }

.b {
  border: 1px solid
}

$zindexes: (
  'background': 0,
  'splash': 1,
  'content': 2,
  'menu': 3,
  'overlay': 4,
  'top': 5
);

@function zindex($name) {
  @return map-get($zindexes, $name)
}

@each $name, $index in $zindexes {
  %zi-#{$name},.zi-#{$name} { z-index: $index }
}
