div.masthead,
div.carousel {
  height: calc(100vh - 5.5rem);
  margin-top: 5.5rem; }
  @media screen and (max-width: 768px) {
    div.masthead,
    div.carousel {
      height: calc(100vh - 3rem);
      margin-top: 3rem; } }
