form .radio-group label input[type="radio"]:before, form .radio-group label input[type="radio"]:after,
form .radio-group label input[type="checkbox"]:before,
form .radio-group label input[type="checkbox"]:after,
form .checkbox-group label input[type="radio"]:before,
form .checkbox-group label input[type="radio"]:after,
form .checkbox-group label input[type="checkbox"]:before,
form .checkbox-group label input[type="checkbox"]:after,
label .radio-group label input[type="radio"]:before,
label .radio-group label input[type="radio"]:after,
label .radio-group label input[type="checkbox"]:before,
label .radio-group label input[type="checkbox"]:after,
label .checkbox-group label input[type="radio"]:before,
label .checkbox-group label input[type="radio"]:after,
label .checkbox-group label input[type="checkbox"]:before,
label .checkbox-group label input[type="checkbox"]:after {
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%; }

html {
  font-size: 22px; }

@media screen and (max-width: 576px) {
  html {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 20px; } }

@media screen and (max-width: 992px) {
  html {
    font-size: 21px; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 21px; } }

@media screen and (max-width: 1400px) {
  html {
    font-size: 22px; } }

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #d4d4d4;
  color: #333; }
  body.dark {
    background-color: #4d4d4d;
    color: #ededed; }
  body article#content {
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.05); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Mono", monospace;
  line-height: 91%; }

h1 {
  font-size: 3rem;
  color: #012E40; }

h2 {
  font-size: 2.5rem;
  color: #F29F05; }

h3 {
  font-size: 1.9rem;
  color: #F27405; }

h4 {
  font-size: 1.4rem;
  color: #A62103; }

h5 {
  font-size: 1rem;
  color: #F29F05; }

h6 {
  font-size: 1rem;
  color: #F27405; }

.center {
  text-align: center; }

p {
  line-height: 1.7rem;
  margin: 0 0 1rem 0; }

a {
  -webkit-transition: color 0.3s ease-in-out 0s;
  -moz-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  -o-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
  color: #012E40; }
  a:hover {
    color: #fed1bf; }

ul, ol {
  padding-left: 1.5rem;
  margin: 2rem 0;
  list-style-position: outside; }
  ul li, ol li {
    padding-left: .5rem;
    margin: .5rem 0; }
    ul li::marker, ol li::marker {
      margin-left: 1rem; }

blockquote {
  position: relative;
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center; }
  blockquote:before, blockquote:after {
    content: '"';
    position: absolute;
    color: #F27405; }
  blockquote:before {
    left: -1rem; }
  blockquote:after {
    right: -1rem; }

button,
.btn {
  padding: .5rem 1rem;
  margin: .5rem 0;
  font-size: 1.2rem;
  border-radius: .5rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3);
  border: 2px solid transparent; }
  button.style1,
  .btn.style1 {
    background-color: #012E40;
    color: #fff; }
  button.style2,
  .btn.style2 {
    background-color: #05F2F2;
    color: #fff; }
  button.style3,
  .btn.style3 {
    background-color: #F29F05;
    color: #fff; }

table {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
  border-radius: .5rem;
  overflow: hidden; }
  table.w-auto {
    width: auto; }
  table tr td, table tr th {
    padding: .2rem .5rem; }
    table tr td:not(:first-of-type):not(:last-of-type), table tr th:not(:first-of-type):not(:last-of-type) {
      border: solid #333;
      border-width: 0 1px; }
  table tr th {
    background-color: #333;
    color: #fff; }
  table tr:nth-of-type(odd) td {
    background-color: #F27405; }
  table tr:nth-of-type(even) td {
    background-color: #A62103; }

form,
label {
  display: flex;
  width: 100%;
  margin: .5rem 0;
  font-size: .8rem;
  flex-direction: column;
  align-items: stretch; }
  form input,
  form textarea,
  label input,
  label textarea {
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    padding: .5rem 1rem;
    margin-top: .3rem;
    font-size: 1.1rem;
    border: 1px solid #333; }
  form textarea,
  label textarea {
    resize: vertical;
    overflow: auto; }
    form textarea.h-single,
    label textarea.h-single {
      height: 2.4rem; }
    form textarea.h-double,
    label textarea.h-double {
      height: 4.8rem; }
    form textarea.h-tripple,
    label textarea.h-tripple {
      height: 7.2rem; }
    form textarea.h-quadrupple,
    label textarea.h-quadrupple {
      height: 9.6rem; }
  form input[type="submit"],
  label input[type="submit"] {
    width: auto;
    align-self: flex-end; }
  form .radio-group,
  form .checkbox-group,
  label .radio-group,
  label .checkbox-group {
    display: flex;
    flex-direction: column; }
    form .radio-group label,
    form .checkbox-group label,
    label .radio-group label,
    label .checkbox-group label {
      flex-direction: row;
      align-items: center; }
      form .radio-group label input[type="radio"],
      form .radio-group label input[type="checkbox"],
      form .checkbox-group label input[type="radio"],
      form .checkbox-group label input[type="checkbox"],
      label .radio-group label input[type="radio"],
      label .radio-group label input[type="checkbox"],
      label .checkbox-group label input[type="radio"],
      label .checkbox-group label input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        border: none;
        width: 1.5rem;
        height: 1rem; }
        form .radio-group label input[type="radio"]:before, form .radio-group label input[type="radio"]:after,
        form .radio-group label input[type="checkbox"]:before,
        form .radio-group label input[type="checkbox"]:after,
        form .checkbox-group label input[type="radio"]:before,
        form .checkbox-group label input[type="radio"]:after,
        form .checkbox-group label input[type="checkbox"]:before,
        form .checkbox-group label input[type="checkbox"]:after,
        label .radio-group label input[type="radio"]:before,
        label .radio-group label input[type="radio"]:after,
        label .radio-group label input[type="checkbox"]:before,
        label .radio-group label input[type="checkbox"]:after,
        label .checkbox-group label input[type="radio"]:before,
        label .checkbox-group label input[type="radio"]:after,
        label .checkbox-group label input[type="checkbox"]:before,
        label .checkbox-group label input[type="checkbox"]:after {
          content: '';
          position: absolute; }
        form .radio-group label input[type="radio"]:before,
        form .radio-group label input[type="checkbox"]:before,
        form .checkbox-group label input[type="radio"]:before,
        form .checkbox-group label input[type="checkbox"]:before,
        label .radio-group label input[type="radio"]:before,
        label .radio-group label input[type="checkbox"]:before,
        label .checkbox-group label input[type="radio"]:before,
        label .checkbox-group label input[type="checkbox"]:before {
          width: 1rem;
          height: 1rem;
          background-color: rgba(255, 255, 255, 0.5);
          border: 2px solid #333; }
        form .radio-group label input[type="radio"]:after,
        form .radio-group label input[type="checkbox"]:after,
        form .checkbox-group label input[type="radio"]:after,
        form .checkbox-group label input[type="checkbox"]:after,
        label .radio-group label input[type="radio"]:after,
        label .radio-group label input[type="checkbox"]:after,
        label .checkbox-group label input[type="radio"]:after,
        label .checkbox-group label input[type="checkbox"]:after {
          width: .8rem;
          height: .8rem;
          background-color: #F29F05;
          opacity: 0; }
        form .radio-group label input[type="radio"]:checked:after,
        form .radio-group label input[type="checkbox"]:checked:after,
        form .checkbox-group label input[type="radio"]:checked:after,
        form .checkbox-group label input[type="checkbox"]:checked:after,
        label .radio-group label input[type="radio"]:checked:after,
        label .radio-group label input[type="checkbox"]:checked:after,
        label .checkbox-group label input[type="radio"]:checked:after,
        label .checkbox-group label input[type="checkbox"]:checked:after {
          opacity: 1; }
      form .radio-group label input[type="radio"],
      form .checkbox-group label input[type="radio"],
      label .radio-group label input[type="radio"],
      label .checkbox-group label input[type="radio"] {
        margin-top: -.1rem; }
        form .radio-group label input[type="radio"]:before, form .radio-group label input[type="radio"]:after,
        form .checkbox-group label input[type="radio"]:before,
        form .checkbox-group label input[type="radio"]:after,
        label .radio-group label input[type="radio"]:before,
        label .radio-group label input[type="radio"]:after,
        label .checkbox-group label input[type="radio"]:before,
        label .checkbox-group label input[type="radio"]:after {
          -webkit-border-radius: 50%;
          border-radius: 50%; }
      form .radio-group label input[type="checkbox"],
      form .checkbox-group label input[type="checkbox"],
      label .radio-group label input[type="checkbox"],
      label .checkbox-group label input[type="checkbox"] {
        margin-top: 0; }
        form .radio-group label input[type="checkbox"]:before, form .radio-group label input[type="checkbox"]:after,
        form .checkbox-group label input[type="checkbox"]:before,
        form .checkbox-group label input[type="checkbox"]:after,
        label .radio-group label input[type="checkbox"]:before,
        label .radio-group label input[type="checkbox"]:after,
        label .checkbox-group label input[type="checkbox"]:before,
        label .checkbox-group label input[type="checkbox"]:after {
          -webkit-border-radius: 0.1rem;
          border-radius: 0.1rem; }
